<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <title>测试 html 文件上传</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/heyui"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/heyui/themes/index.css" />
    <script src="https://unpkg.com/http-vue-loader@1.4.2/src/httpVueLoader.js" async></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
<div id="app" class="container-fluid">
    <div id="pieceUpload">
        <ul v-if="uploadingFiles">
            上传列表...
            <li v-for="f in uploadingFiles">
                文件名:
                <a v-if="f.downloadUrl" :href="f.downloadUrl">{{f.name}}</a>
                <span v-else>{{f.name}}</span>
                <br/>
                <progress max="100" :value="f.progress"></progress><br>
                <div v-if="f.progress < 100">
                    <button v-if="f.pause" @click="resume(f)">继续</button>
                    <button v-else @click="suspend(f)">暂停</button>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <form id="form1">
            <input type="file" name="file">
            <input type="button" value="提交" @click="uploadFile">
        </form>
    </div>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            uploadingFiles: []
        },
        methods: {
            uploadFile() { // 文件上传
                let fd = new FormData($('#form1')[0]);
                let file = fd.get('file');
                if (file.size > 1024 * 1024 * 20) { // 如果文件大于20M 就分片上传
                    this.pieceUpload(file); return;
                } else {
                    $.ajax({
                        url: 'test/upload',
                        type: 'post',
                        data: fd,
                        contentType: false,
                        processData: false,
                        success: (resp) => {
                            if (resp.code === '00') this.$Message.success("上传成功: " + file.name);
                            else this.$Message.error({title: '错误提示', desc: resp.desc, duration: 7})
                        }
                    })
                }
            },
            pieceUpload(file) { // 分片上传文件
                let uploading = { // 分片上传对象
                    file: file, name: file.name, pause: false, // 是否暂停
                    perPieceSize: 1024 * 1024 * 10,
                    totalPiece: 0, currentPiece: 0,
                    progress: 0, //上传的进度 0~100
                    downloadUrl: null,
                    uploadId: (((1+Math.random())*0x10000)|0).toString(16) + (((1+Math.random())*0x10000)|0).toString(16) + '_' + new Date().getTime()
                };
                uploading.totalPiece = Math.ceil(file.size / uploading.perPieceSize);
                this.uploadingFiles.push(uploading); // 保存已上传的分片信息
                this.doUpload(uploading)
            },
            doUpload(uploading) { //上传某一个分片
                let fd = new FormData();
                let startIndex = uploading.currentPiece++ * uploading.perPieceSize;
                let endIndex = Math.min(startIndex + uploading.perPieceSize, uploading.file.size);
                fd.append('file', uploading.file.slice(startIndex, endIndex)); //分割当前上传的数据段
                $.ajax({
                    url: 'test/upload',
                    type: 'post',
                    headers: {
                        "x-pieceupload-id": uploading.uploadId,
                        "x-pieceupload-filename": uploading.name,
                        "x-pieceupload-end": uploading.totalPiece === uploading.currentPiece,
                    },
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: (resp) => {
                        if (resp.code === '00') {
                            if (!uploading.pause && uploading.totalPiece > uploading.currentPiece) {
                                uploading.progress = (100 / uploading.totalPiece) * uploading.currentPiece;
                                this.doUpload(uploading)
                            }
                            if (uploading.totalPiece === uploading.currentPiece) {
                                uploading.progress = 100;
                                uploading.url = resp.data
                            }
                        } else {
                            this.$Message.error(resp.desc);
                        }
                    }
                })
            },
            suspend: function(uploading) { //暂停上传
                uploading.pause = true
            },
            resume: function(uploading) { // 恢复上传
                uploading.pause = false;
                this.doUpload(uploading)
            }
        },
    });
</script>
</body>
</html>